/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

a {
  background-color: goldenrod;
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

a:hover {
  opacity: .6;
}

.top {
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
}

.top > * {
  color: black;
}

.top > h1 {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 1rem;
}

.top > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}

.top > article > a {
  padding: 1rem;
  margin-top: .75rem;
}

/* breweries styles */
.people {
  padding: 2rem;
}

.people > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.people > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

.people .field {
  float: left;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.people .field:first-child{
  clear: both;
  text-align: center;
}

.people .field span{
 font-weight: normal;
}


